body {
	background: linear-gradient(#FF6818, #FFC432);
	font-family: 'Lucida Console', monospace;
	margin: 0;
}

header {
/*	background-color: green; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#containermid {
/*	background-color: blue;*/
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 5%;
	padding-bottom: 5%;
}

footer {
/*	background-color: yellow;*/
	height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#containerfooter {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
}

#copyright {
	color: white;
	font-size: 14px;
}

#instagram {
	background-image: url(photos/Instagram.png);
	height: 40px;
	width: 40px;
}

#instagram:hover {
	background-image: url(photos/Instagram2.png);
	height: 40px;
	width: 40px;
}

#twitter {
	background-image: url(photos/Twitter.png);
	height: 40px;
	width: 40px;
}

#twitter:hover {
	background-image: url(photos/Twitter2.png);
	height: 40px;
	width: 40px;
}

#facebook {
	background-image: url(photos/Facebook.png);
	height: 40px;
	width: 40px;
}

#facebook:hover {
	background-image: url(photos/Facebook2.png);
	height: 40px;
	width: 40px;
}

#back {
/*	background-color: lightblue;*/
	width: 40px;
	height: 40px;
	background-image: url(photos/back.png);
	margin-left: 0px;
	margin-top: 5px;
}

#back:hover {
	width: 40px;
	height: 40px;
	background-image: url(photos/back2.png);
	margin-left: 0px;
	margin-top: 5px;
}

#imagegauche {
/*	background-color: purple;*/
}

#crash {
	height: 320px;
	width: 250px;
}

#textemilieu {
/*	background-color: orange;*/
	text-align: center;
}

#ptextemilieu {
	font-family: 'Lucida Console', monospace;
	color: #298FFF;
	font-size: 18px;
}

#h1textemilieu {
	font-family: 'Verdana', sans-serif;
	color: white;
	font-size: 120px;
	margin-bottom: 1px;
	margin-top: 1px;
	text-shadow: 4px 0 0 black;
}

#imagedroite {
/*	background-color: yellow;*/
}

#boite {
	height: 200px;
	width: 200px;
}

nav {
	display: flex;
	flex-direction: row;
/*	background-color: grey;*/
	justify-content: center;
	align-items: center;
}

.linkmenu {
	text-decoration: none;
	color: #298FFF;
	font-family: "Verdana", sans-serif;
}

.linkmenu:hover {
	color: white;
}

#case1 {
/*	background-color: red;*/
}

#case2 {
/*	background-color: purple;*/
}

#case3 {
/*	background-color: red;*/
}

#case4 {
/*	background-color: purple;*/
}

.cases {
	width: 100px;
	text-align: center;
}

#container404 {
	/*background-color: blue;*/
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 1000px;
	height: 200px;
	margin-left: -500px;
	margin-top: -100px;
}

#article1 {
	height: auto;
	width: 400px;
	/*background-color: orange;*/
	text-align: right;
}

#article2 {
	height: auto;
	width: 400px;
	/*background-color: red;*/
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}

#article3 {
	height: auto;
	width: 400px;
	/*background-color: green;*/
	text-align: left;
}